.change {
    background: rgba( 155, 155, 155, 0.35 );
    box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
}
